.container {
  position: relative;
  height: 100%;
}
/* Centering elements vertically: come back to this later */
.center {
  background-color: aquamarine;
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  align-self: center;
  position: relative;
  flex-direction: column;
}
